<div id="content" class="row">
  <div class="test-listview">
    <table>
      <tr>
	<th>Chip Number</th>
	<th>Team Number</th>
	<th>Team Passed</th>
	<th>File Name</th>
      </tr>
      <% @fails.each_index do |idx| fail=@fails[idx] %> 
      <tr class="<%= (idx.modulo(2) != 0)?'even':'odd' %>">
		  <td><%=fail.index.to_s() %></td>
		  <td><%=fail.fail_result%></td>
		  <td><%=fail.expected_result %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
