<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Limitless   
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120203

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>ELEC6027 Team I Project - Chip Tester</title>
<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/1140.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen"/>
  </head>
  
<body>
	<div id="menu-wrapper">
		<div id="menu">
			<ul>
				<li><a href="/">Overview</a></li>
				<li><a href="/admin_login">Admin</a></li>
				<li><a href="/LogEntries">Log Entries</a></li>
				<li><a href="/upload_files">Upload Files</a></li>
      <>
			</ul>
		</div>
<!-- end #menu -->
	</div>

	<div id="wrapper">
		<div id="header-wrapper">
			<div id="header">
				<div id="logo">
					<h1><a href="#">ELEC6027 Team Project</a></h1>
					<p>University of Southampton Automated Chip Tester</a></p>
				</div>
			</div>
		</div>
<!-- end #header -->
		<div id="page">
			<div id="page-bgtop">
				<div id="page-bgbtm">
  					<div id="main" class="container">
    					<%= yield %>
  					</div>
<!-- end #content -->
	
	</div>
	</div>
	<!-- end #page -->
</div>
</div>
	
		<div id="sidebar_l">
			<ul>
				<li>
					<h2>Team Members</h2>
						<ul>
							<li><a href="https://secure.ecs.soton.ac.uk/people/ah3e11">Alexander Hornung</a></li>
							<li><a href="https://secure.ecs.soton.ac.uk/people/xl1g11">Xiaolong Li</a></li>
							<li><a href="https://secure.ecs.soton.ac.uk/people/pp5g11">Pavlos Progias</a></li>
							<li><a href="https://secure.ecs.soton.ac.uk/people/rt5g11">Romel Torres</a></li>
							<li><a href="https://secure.ecs.soton.ac.uk/people/bz1g11">Bo Zhou</a></li>
						</ul>
				</li>
			</ul>
		</div>
		
		<div id="sidebar_r">
			<ul>
				<li>
					<h2>Links</h2>
					<ul>
						<li><a href="http://www.google.com">Google</a></li>
						<li><a href="http://www.soton.ac.uk">The University of Southampton</a></li>
						<li><a href="http://www.ecs.soton.ac.uk">School of Electronics and Computer Science</a></li>
					</ul>
				</li>
			</ul>
		</div>
		
		<div id="sidebar_c">
			<p>University of Southampton 2012</p>
			<p>MSc System on Chip</p>
			<p>ELEC6027 VLSI Project</p>
			<p>Team I - Southampton Superchip Tester</p>
			<p>Website based on design by <a href="http://www.freecsstemplates.org/"> CSS Templates</a>.</p>
		</div>


		<div style="clear: both;">&nbsp;</div>
		</div>
<!-- end #sidebar -->
		

</body>
</html>
