<div id="content" class="row">
	<div class="post"> 
	<p>You are logged as <%= @username%> do you wish to logout</p>
		<form method="post" action="/logout_submited">
			<input name="logout" type="submit" value="Logout" style="width:100px"/>
		</form>	
	</div>
	<div style="clear: both;">&nbsp;</div>
</div>