  <html>
    <head>
      <link rel="stylesheet" type="text/css" href="http://localhost:4567/css/stylesheet.css" />
    </head>
    
  <div id="container">
    <div id="header_layout">
     <img src = "http://localhost:4567/img/WebBanner.svg" alt="University of Southampton Automated Chip Tester" width="100%" alt="" />
    </div>
    <div id="leftBar">
		<p align=center>
		<a href=AdminMode>Administrator Mode</a><br>
		<a href=insertJson>Insert JSON</a><br>
		more stuff<br>
		even more stuff<br>
    </div>
    
    <div align="center" id="content">
    	<p align=center>
      <table>
      <tr class = "header">

	<th>Chip Number</th>
	<th>Team Number</th>
	<th>Team Passed</th>
	<th>File Name</td>
      </tr>
	  <% @results.each do |result| %> 
	      <tr class = "normal" onmouseover = "this.className='onover';" onmouseout = "this.className='normal'">
		  <td><%=result.chip_number.to_s() %></td>
		  <td><%=result.team_number.to_s() %></td>
		  <td><%=result.test_passed.to_s() %></td>
		  <td><%=result.file_name %></td>
	      </tr>
	  <% end %>
      </table>
    </div>
    
    <div align="center" id="footer">
	<p>Post here your JSON FILE</p>
	<form method="post" action="/">
	    <input type="text" name="json_posted" />
	    <input text="Submit Json" type="submit" />

	</form>
	<form method="post" action="/reset">
	    <input type="submit" name="reset_value" VALUE="Reset Database"/>
	</form>
    </div>
    <div id="footer">
      <p align=center>
      University of Southampton 2012 - MSc System on Chip - ELEC6027 VLSI Project - Team I - Southampton Superchip Tester
    </div>
    </div>
  </html> 
