	table {
	      border: 1px solid black;
	      border-collapse:collapse;
	      color:#000000;
	}
	.normal {
	      height:20px;
	      background-color :#F0F0F0;
	      text-align:center;
	      padding:15px;
	      border: 1px solid black;
	}
	
	.onover{
	      height:20px;
	      background-color :#B0C4DE;
	      text-align:center;
	      padding:15px;
	      border: 1px solid black;
	}
	.header {
	      text-align:center;
	      background-color:#6495ED;
	      width:100%;
	      padding:15px;
	      border: 1px solid black;    
	}
	#container {
	      margin:auto;
	      width: 100%; 
	      background: #ffffff;
	}

	#header_layout {
	      background: #DDDDDD;
	}

	#leftBar {
	      float: left; 
	      width: 20%; 
	      background: #EBEBEB; 
	}

	#content {
	      float:left;
	      width:80%;
	      background-color: #cdcde6;
	}

	#rightBar { 
	      float:right; 
	      width: 20%; 
	      background: #EBEBEB; 
	}

	#footer { 
	      clear:both;
	      background:#DDDDDD;
	} 
